/*cores*/

body {
    background: url('../../img/images.png') center top repeat #000000;
}

header,
footer {
    background-color: #034589
}

nav {
    width: 100%;
}

@media (max-width: 600px) {

    nav,
    article,
    section {
        width: 100%;
        height: auto;
    }

    section {
        margin-bottom: 15px;
    }
}

img {
    border-radius: 35px;
}

h1 {
    font-weight: 400;
    font-family: sans-serif;
}

div.contato-title {
    font-family: sans-serif;
    background-color: white;
    padding: 8px;
    height: 210px;
}