@corDeFundo: #eb3b5a;
@fontTitulo: Lobster, cursive;
@corDoTexto: #fff;
*{margin: 0; padding: 0; box-sizing: border-box; font-family: 'Roboto', sans-serif;}

body {
    background-color: @corDeFundo;
    color: @corDoTexto;
}

h1 {
    font-family: @fontTitulo;
    font-size: 3em;
}